        body {
            /* background-image: url('1.jpg'); */
            /* background-repeat: no-repeat; */
            background-color: black;
            /* background-attachment: fixed; */
            /* background-size: 100% 100%; */
        }

        .container {
            display: grid;
            grid-gap: 1rem;
            grid-template-areas:
                'class2 class2 class2 class2'
                'class3 class4 class4 class4'
                'class5 class5 class5 class5'
                /* 'class5 class5 class5 class5' */
            ;
            color: white;
        }

        .item {}

        a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            margin: 13px 73px;
            font-family: 'Akaya Kanadaka', cursive;
            /* font-size: 20px; */
            transition: all .3s ease-out;
        }
/*       

        #class1 {
            grid-area: class1;
            color: rgb(230, 230, 230);
            text-align: center;
            position: fixed;
            font-size: 12px;
            /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        /* } */ 

        #class2{
            width: 100%;
            /* top: 62px; */
            position: fixed;
            grid-area: class2;
            /* text-align: center; */
            padding: 22px 0px;
            background-color: rgb(255, 255, 255);
            margin: -7px -6px;
            border: 2px solid rgb(255, 255, 255);
            color: black;
            font-size: 30px;
            transition: all .3s ease-out;
        }

        #class2 a{
            /* margin: 22px 50px; */
            /* padding: 22px 22px; */
            /* font-size: 24px; */
            /* color: rgb(255, 255, 255); */
            transition: all .4s ease-in;
            padding: 12px 4px;
            z-index: 1.6;
        }
        #class2 a:hover{
            background-color: rgb(167, 168, 148);
            /* opacity: .3; */
            /* font-size: 33px; */
            border-radius: 8px; 
            /* font-size: 25px; */
            transform: scale(1.4);
            
            
        }

        #class3 {
            grid-area: class3;
            border: 4px solid rgb(187, 187, 187);
            border-radius: 6px;
            padding: 93px 63px;
            margin: 153px 23px;
        }

        #class4 {
            grid-area: class4;
            /* border: 2px solid rgb(187, 187, 187); */
            background-image: url('1.jpg');
            background-size: 100% 100%;
            padding: 43px 23px;
            margin: 113px 23px;

        }

        #class5 {
            grid-area: class5;
            /* border: 2px solid rgb(187, 187, 187); */
            padding: 33px 43px;
            text-align: center;

        }

        .end13{
            /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
            font-size: 21px;
            font-weight: bold;
        }
        .end14{
            /* background-color: yellow; */
        }
        input{
            background-color: rgb(172, 172, 135);
            width: 133px;
            align-items: center;
            height: 50px;
            font-size: 18px;
            font-weight: bold;
            margin: 0px 223px;
        }
        .fn1{
            font-size: 19px;
        }
        .fn2{
            /* font-size: 23px; */
            text-align: center;
        }
